* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
.wrapper {
  position: relative;
  width: 2000px;
  float: left;
  margin: 0;
  padding: 0;
}
.leftSrctionWrapper {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #242b2e;
}
.leftSection {
  position: relative;
  float: left;
  width: 300px;
  height: 100%;
  display: block;
}
.logo {
  width: 300px;
  height: 124px;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
}
.navMask {
  display: block;
  position: absolute;
  width: 300px;
  height: 100%;
  background: #242b2e;
  left: 0;
}
.nav {
  background-color: #242b2e;
  position: relative;
}
.navBlock {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.04) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.04) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.04) 100%);
}
.navItem {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding: 18px 24px;
  list-style: none;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
  border-bottom: 1px solid #282828;
  text-shadow: 0.5px 0.866px 4px #000000;
  text-align: right;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.navItem a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0.5px 0.866px 4px #000000;
}
.navItem:nth-child(4) {
  background-color: #1ab5b3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
}
.navItem:hover {
  background-color: #1ab5b3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  transition: all 0.4s linear;
}
.filter {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: none;
  padding: 18px 24px;
  text-align: right;
  line-height: 1.846;
  text-shadow: 0.5px 0.866px 4px #000000;
  border-bottom: 1px solid #282828;
}
.filter li {
  list-style: none;
}
.filterBig {
  color: #1ab5b3;
  font-weight: 100;
  font-size: 19px;
  padding-bottom: 9px;
  line-height: 1.684;
}
.filterBig li {
  display: inline-block;
  list-style-type: none;
}
.filterBig li i {
  margin-left: 11px;
}
.filterMain {
  color: #ffffff;
}
.filterSmall {
  color: #9b9ea0;
}
.social {
  float: right;
  margin-left: 10px;
  margin-top: 28px;
  width: 24px;
  height: 24px;
  background-image: url("img/sprites1.png");
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.social:hover {
  transform: scale(1.15, 1.15);
  transition: all 0.3s ease-in-out;
}
.social:first-child {
  margin-right: 24px;
}
.socialFlickr {
  background-position: 0 0;
}
.socialG {
  background-position: -23.5px 0;
}
.socialDribbble {
  background-position: -95px 0px;
}
.socialFb {
  background-position: -143px 0;
}
.socialPin {
  background-position: -71.5px 0;
}
.socialTwit {
  background-position: -48px 0;
}
.socialBehance {
  background-position: -120px 0;
}
.clearfix {
  clear: both;
}
.copyrights {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #9b9ea0;
  padding: 18px 24px;
  text-align: right;
}
.contentMask {
  box-sizing: border-box;
  display: block;
  position: relative;
  left: 300px;
  height: 100%;
  background: #c4c7c8;
}
.contentWrapper {
  position: relative;
  float: left;
  height: 100%;
  background: #c4c7c8;
  margin: 0;
  padding: 0;
}
.content {
  box-sizing: border-box;
  height: 100%;
  margin: 25px;
  margin-bottom: 0;
}
.contentBlocks {
  box-sizing: border-box;
  float: left;
  width: 294px;
  margin-right: 25px;
}
.contentBlocks:nth-child(5) {
  margin: 0;
}
.galleryPost {
  margin-bottom: 25px;
}
.galleryImg1 {
  width: 294px;
  height: 230px;
  background-image: url("img/GalleryImg1.png");
}
.galleryImg2 {
  width: 294px;
  height: 265px;
  background-image: url("img/GalleryImg2.png");
}
.galleryText {
  box-sizing: border-box;
  height: 127px;
  width: 294px;
  background: #ffffff;
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.galleryText h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: none;
  margin: 0 0 4px;
  line-height: 1.444;
}
.galleryText p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #9c9c9c;
  padding: none;
  line-height: 1.692;
}
.comment {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #9c9c9c;
  padding: 15px 20px;
  line-height: 1.692;
  background-color: #ffffff;
  box-sizing: border-box;
  height: 50px;
}
.comment li {
  display: inline-block;
  list-style-type: none;
  margin-right: 18px;
}
.comment li i {
  margin-right: 8px;
}
.imgPost {
  margin-bottom: 25px;
  width: 294px;
  height: 262px;
  background-image: url("img/imgPost.png");
}
.linkPost {
  margin-bottom: 25px;
  box-sizing: border-box;
  height: 135px;
  background: #1ab5b3;
  text-align: center;
  padding: 30px 20px;
}
.linkPost p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding: 0 0 20px;
  line-height: 1.111;
}
.linkPost a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 20px;
  font-style: italic;
}
.videoPost {
  margin-bottom: 25px;
}
.videoImg {
  height: 184px;
  background-image: url("img/videoImg.png");
}
.videoControls {
  height: 40px;
  background-image: url("img/videoControls.png");
  background-position: 15px 0;
  background-repeat: no-repeat;
  background-color: #2b2b2b;
}
.videoText {
  box-sizing: border-box;
  height: 127px;
  width: 294px;
  background: #ffffff;
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.videoText h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: none;
  margin: 0 0 4px;
  line-height: 1.444;
}
.videoText p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #9c9c9c;
  padding: none;
  line-height: 1.692;
}
.standartPost {
  width: 294px;
  margin-bottom: 25px;
}
.standartImg {
  height: 141px;
  background-image: url("img/standart.png");
}
.standartText {
  box-sizing: border-box;
  height: 127px;
  width: 294px;
  background: #ffffff;
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.standartText h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: none;
  margin: 0 0 4px;
  line-height: 1.444;
}
.standartText p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #9c9c9c;
  padding: none;
  line-height: 1.692;
}
.imgPost2 {
  margin-bottom: 25px;
  width: 294px;
  height: 262px;
  background-image: url("img/imgPost2.png");
}
.standartImg2 {
  height: 316px;
  background-image: url("img/standart2.png");
}
.asidePost {
  width: 294px;
  height: 140px;
  margin-bottom: 25px;
}
.asideLeft {
  width: 15px;
  height: 140px;
  background: #1ab5b3;
  float: left;
}
.asideMain {
  height: 140px;
  box-sizing: border-box;
  background-color: #3f4547;
  padding: 18px 25px 18px 40px;
}
.asideMain h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding: none;
  margin: 0 0 4px;
  line-height: 1.444;
}
.asideMain p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #9c9c9c;
  padding: none;
  line-height: 1.714;
}
.quotePost {
  margin-bottom: 25px;
  box-sizing: border-box;
  height: 211px;
  width: 294px;
  background: #242b2e;
  text-align: center;
  padding: 30px 34px;
}
.quotePost blockquote {
  font-family: "Georgia";
  font-size: 21px;
  font-weight: none;
  color: #ffffff;
  padding: 0;
  font-style: italic;
  line-height: 1.238;
  margin-bottom: 15px;
}
.quotePost blockquote .quoteImg {
  background: url('img/quote.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 23px;
  height: 17px;
  margin-top: 20px;
  margin-left: 50%;
}
.quotePost p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #1ab5b3;
  padding: none;
  line-height: 1.444;
}
.olderPost {
  margin: 0 auto;
  margin-bottom: 0;
  width: 185px;
  padding: 16px;
  background: #1ab5b3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 90px;
  background-image: url("img/info.png");
  opacity: 0.8;
}
