* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
.wrapper {
  position: relative;
  width: 2000px;
  float: left;
  margin: 0;
  padding: 0;
}
.leftSrctionWrapper {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #242b2e;
}
.leftSection {
  position: relative;
  float: left;
  width: 300px;
  height: 100%;
  display: block;
}
.logo {
  width: 300px;
  height: 124px;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
}
.navMask {
  display: block;
  position: absolute;
  width: 300px;
  height: 100%;
  background: #242b2e;
  left: 0;
}
.nav {
  background-color: #242b2e;
  position: relative;
}
.navBlock {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.04) 100%);
}
.navItem {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding: 18px 24px;
  list-style: none;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
  border-bottom: 1px solid #282828;
  text-shadow: 0.5px 0.866px 4px #000000;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s linear;
}
.navItem a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0.5px 0.866px 4px #000000;
}
.navItem:nth-child(2) {
  background-color: #1ab5b3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
}
.navItem:hover {
  background-color: #1ab5b3;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
  transition: all 0.4s linear;
}
.filter {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: none;
  padding: 18px 24px;
  text-align: right;
  line-height: 1.846;
  text-shadow: 0.5px 0.866px 4px #000000;
  border-bottom: 1px solid #282828;
}
.filter li {
  list-style: none;
}
.filterBig {
  color: #1ab5b3;
  font-weight: 100;
  font-size: 19px;
  padding-bottom: 9px;
  line-height: 1.684;
}
.filterBig li {
  display: inline-block;
  list-style-type: none;
}
.filterBig li i {
  margin-left: 11px;
}
.filterMain {
  color: #ffffff;
}
.filterSmall {
  color: #9b9ea0;
}
.social {
  float: right;
  margin-left: 10px;
  margin-top: 28px;
  width: 24px;
  height: 24px;
  background-image: url("img/sprites1.png");
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.social:hover {
  transform: scale(1.15, 1.15);
  transition: all 0.3s ease-in-out;
}
.social:first-child {
  margin-right: 24px;
}
.socialFlickr {
  background-position: 0 0;
}
.socialG {
  background-position: -23.5px 0;
}
.socialDribbble {
  background-position: -95px 0px;
}
.socialFb {
  background-position: -143px 0;
}
.socialPin {
  background-position: -71.5px 0;
}
.socialTwit {
  background-position: -48px 0;
}
.socialBehance {
  background-position: -120px 0;
}
.copyrights {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #9b9ea0;
  padding: 18px 24px;
  text-align: right;
}
.contentMask {
  box-sizing: border-box;
  display: block;
  position: relative;
  left: 300px;
  height: 100%;
  background: #ffffff;
}
.contentWrapper {
  position: relative;
  float: left;
  min-height: 100%;
  border: 25px solid #d6d8d8;
  background: #ffffff;
  margin: 0;
  padding: 0;
}
.content {
  height: 100%;
  padding: 30px;
}
.mainContent {
  position: relative;
  float: left;
  width: 721px;
  padding: 0;
  padding-right: 30px;
  border-right: 1px solid #e5e5e5;
  height: 100%;
}
.mainContent h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  padding: 24px 0;
  line-height: 1.083;
}
.mainContent p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #a3a3a3;
  padding: 0 0 24px 0;
  line-height: 1.667;
}
.mainContent p:nth-child(2n) {
  padding: 24px 0 0 0;
}
.mainImg {
  width: 721px;
  height: 560px;
  background-image: url("img/workMainImg.png");
}
.line {
  margin-top: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.project {
  margin-bottom: 30px;
  font-size: 0;
  line-height: 0;
}
.projectImg {
  display: inline-block;
  width: 240px;
  height: 182px;
  background-image: url("img/projectImg.png");
}
.projectImg:nth-child(2) {
  background-image: url("img/projectImg2.png");
}
.sidebar {
  position: relative;
  float: left;
  width: 721px;
  padding-left: 30px;
}
.sidebar h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  padding: 18px 0;
  line-height: 1.083;
}
.sidebar h2:first-child {
  padding-top: 0;
}
.pInfo {
  width: 720px;
}
.pInfo li {
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 14px 0;
}
.pInfo li:first-child {
  padding-top: 0;
}
.pInfo li span {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #1ab5b3;
  text-align: center;
  border-radius: 50%;
  margin-right: 14px;
}
.pInfo li span i {
  color: #1ab5b3;
  line-height: 32px;
  font-size: 14px;
}
.pInfo li p {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #848484;
  padding: none;
}
.tags li {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #a3a3a3;
  padding: 9px 17px;
  margin-right: 8px;
  margin-bottom: 10px;
  list-style: none;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
}
.gallery {
  font-size: 0;
}
.galleryImg {
  margin-right: 12px;
  margin-bottom: 12px;
  display: inline-block;
  width: 78px;
  height: 78px;
  background-image: url("img/78x78.png");
}
.features {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #a3a3a3;
  padding: none;
  line-height: 2.143;
}
.features li {
  list-style: none;
}
.features li i {
  margin-right: 8px;
}
.clearfix {
  clear: both;
}
